---
import Layout from '../layouts/Layout.astro';
const pageTitle = "Klüterraum Papenburg e.V.";
---
<Layout pageTitle={pageTitle}>
    <div class="gif">
        <img width="250" height="250" alt="Icon eines 3D Druckers" src="/images/teaser.webp"/>
    </div>
    <h1>Klüterraum Papenburg</h1>


    <h2>Über uns</h2>
    <p>
        Der Klüterraum Papenburg e.V. wurde 2023 in Papenburg gegründet. <br>
        Wir sind ein gemeinnütziger Verein, der sich zum Ziel gesetzt hat, das Interesse und den Spaß am Konstruieren und Gestalten zu fördern.
        Dazu gehören Elektronik und 3D-Druck, aber auch das Arbeiten mit allen anderen Materialien und Werkzeugen.<br>
        Wir sind nicht nur ein Maker Space für Technikbegeisterte, sondern bieten auch Raum für kreatives Arbeiten in allen Formen.
        Unsere Mitglieder können alle Bereiche des Vereins aktiv mitgestalten.
    </p>

    <h3>Unsere Aktivitäten</h3>
    <p>
        Wir treffen uns regelmäßig, um uns auszutauschen und gemeinsam an Projekten zu arbeiten.
        Einige Treffen finden auch zu bestimmten Themen statt, z.B. Smart Home oder 3D-Druck.
        Darüber hinaus bieten wir immer wieder Veranstaltungen und Workshops zu unseren Themen an,
        die sich z.B. an Schülerinnen und Schüler oder einfach an alle Interessierten richten.
    </p>

    <h3>Der Name "Klüterraum"</h3>
    <p>
        In Norddeutschland wird der Begriff "klütern" verwendet, um das Zusammenbauen von Dingen oder das Basteln mit verschiedenen Materialien zu beschreiben.
        Dabei kann es sich um eine langsame und sorgfältige Arbeit handeln, bei der verschiedene Teile oder Materialien zusammengefügt werden, um etwas Neues zu schaffen.
        In diesem Zusammenhang bedeutet "klütern" also auch, kreativ und handwerklich tätig zu sein.
    </p>

    <div class="center">
        <a href="/works/">
            <button class="btn">Mitglied werden</button>
        </a>
    </div>

    <h2>Stammtisch</h2>
    <p>
        Ut at interdum dui. Donec ut ante ex. Maecenas id ex eget nibh consequat accumsan.
        Proin semper semper dui nec feugiat. Donec cursus neque id aliquet finibus. Morbi
        facilisis turpis nibh, nec dictum orci dictum nec. In hac habitasse platea dictumst.
        Maecenas mollis turpis vitae turpis bibendum, vitae tristique arcu eleifend.
    </p>


</Layout>
